html {
  font-size: 10px;
  padding: 5rem 15rem;
  background-image: url(img/Decore.png);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
}

h1 {
  color: #14183e;
  font-size: 7.5rem;
  line-height: 8.9rem;
  font-family: "Volkhov", serif;
  margin: 1.5rem 0;
}

h2 {
  color: #14183e;
  font-family: "Volkhov", serif;
  font-size: 5rem;
  margin: 0;
}

h4 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

h5 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #1e1d4c;
  text-align: center;
  margin: 1.5rem 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header_logo {
  width: 11.5rem;
  margin: 1rem;
}
.header_navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100rem;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #212832;
}
.header_navigation-bar_link {
  text-decoration: none;
  padding: 1rem;
  color: #212832;
}
.header_navigation-bar_link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid gray;
  border-radius: 1rem;
}
.header_navigation-bar > select {
  text-decoration: none;
  border: none;
  color: #212832;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(img/select.png) no-repeat right;
  padding: 1rem;
}
.header_navigation-bar > select:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid gray;
  border-radius: 1rem;
}

.introductory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.introductory_image {
  position: relative;
}
.introductory_image_decor1 {
  position: absolute;
  top: 17%;
  right: 42%;
}
.introductory_image_decor1:hover {
  -webkit-animation: Orbita 3s ease-in-out;
          animation: Orbita 3s ease-in-out;
}
@-webkit-keyframes Orbita {
  0% {
    -webkit-transform: rotate(0deg) translate(0);
            transform: rotate(0deg) translate(0);
  }
  40% {
    -webkit-transform: translateX(20rem) translateY(-30rem);
            transform: translateX(20rem) translateY(-30rem);
  }
  50% {
    -webkit-transform: translateX(-50rem) translateY(-30rem);
            transform: translateX(-50rem) translateY(-30rem);
  }
  90% {
    -webkit-transform: rotate(45deg) translate(0);
            transform: rotate(45deg) translate(0);
  }
}
@keyframes Orbita {
  0% {
    -webkit-transform: rotate(0deg) translate(0);
            transform: rotate(0deg) translate(0);
  }
  40% {
    -webkit-transform: translateX(20rem) translateY(-30rem);
            transform: translateX(20rem) translateY(-30rem);
  }
  50% {
    -webkit-transform: translateX(-50rem) translateY(-30rem);
            transform: translateX(-50rem) translateY(-30rem);
  }
  90% {
    -webkit-transform: rotate(45deg) translate(0);
            transform: rotate(45deg) translate(0);
  }
}
.introductory_image_decor2 {
  position: absolute;
  bottom: 28%;
  right: 8%;
}
.introductory_image_decor2:hover {
  -webkit-animation: Orbita2 3s linear;
          animation: Orbita2 3s linear;
}
@-webkit-keyframes Orbita2 {
  10% {
    -webkit-transform: translateX(300px) translateY(-100px);
            transform: translateX(300px) translateY(-100px);
  }
  60% {
    -webkit-transform: translateX(-400px) translate(100px) rotate(-190deg);
            transform: translateX(-400px) translate(100px) rotate(-190deg);
  }
  95% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
}
@keyframes Orbita2 {
  10% {
    -webkit-transform: translateX(300px) translateY(-100px);
            transform: translateX(300px) translateY(-100px);
  }
  60% {
    -webkit-transform: translateX(-400px) translate(100px) rotate(-190deg);
            transform: translateX(-400px) translate(100px) rotate(-190deg);
  }
  95% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
}

.desk {
  width: 53rem;
}
.desk_tagline {
  font-size: 2rem;
  text-transform: uppercase;
  color: #df6951;
  font-family: "Poppins", sans-serif;
  margin: 1.5rem 0;
}
.desk_sup-text {
  color: #5e6282;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 1.5rem 0;
}
.desk_keypad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.desk_keypad_button-find-more {
  font-size: 1.8rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  background: #f1a501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  padding: 1.8rem 2.6rem;
  margin: 1.5rem 3rem 1.5rem 0;
}
.desk_keypad_button-find-more:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.desk_keypad_play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.desk_keypad_play-button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.desk_keypad_play-button_sign {
  color: #686d77;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  padding: 0 2rem;
}

.services_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 0;
  position: relative;
}
.services_title_decor {
  position: absolute;
  top: 1%;
  right: -7%;
}
.services_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services_cards > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.1rem;
  padding: 2rem 0;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  z-index: 2;
}
.services_cards > div:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 1rem 2rem 1rem rgb(209, 208, 208);
          box-shadow: 0 1rem 2rem 1rem rgb(209, 208, 208);
  border-radius: 1rem;
}
.services_cards > div:hover .services_cards_decor {
  opacity: 1;
  visibility: visible;
  z-index: -1;
}
.services_cards > div .services_cards_decor {
  position: absolute;
  bottom: -14%;
  left: -12%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.services_cards_description {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  padding: 0.3rem;
}

.destinations_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 0;
}
.destinations_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.destinations_cards_cells {
  padding: 5rem 0;
}
.destinations_cards_cells_descriptions {
  color: #5e6282;
  font-family: "Poppins", sans-serif;
}
.destinations_cards_cells_descriptions_caption {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}
.destinations_cards_cells_descriptions_days {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
}
.destinations_cards_cells_descriptions_days > img {
  padding: 0 2rem;
}
.destinations_cards_decor {
  position: absolute;
  right: -5%;
  top: 20%;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
  padding: 10rem 0;
}
.booking_trip_steps {
  width: 41rem;
}
.booking_trip_steps_cells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  padding: 3rem 0;
}
.booking_trip_steps_cells_topic {
  padding: 2rem;
}
.booking_trip_steps_cells_topic_designation {
  font-weight: bold;
  padding: 1rem 0;
}
.booking_sample {
  width: 37rem;
  height: 40rem;
  border-radius: 1.5rem;
  padding: 2.4rem;
  -webkit-box-shadow: 4rem -3rem 9rem 0rem rgb(182, 210, 233);
          box-shadow: 4rem -3rem 9rem 0rem rgb(182, 210, 233);
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  font-size: 1.6rem;
  position: relative;
}
.booking_sample_trip-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.booking_sample_way {
  color: black;
  font-size: 1.8rem;
  padding: 1.5rem 0;
}
.booking_sample_links {
  padding: 2rem 1rem;
}
.booking_sample_caption {
  margin: 0 16rem 0 0;
  display: initial;
}
.booking_sample_ongoing {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -24%;
  bottom: 25%;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0.5rem 1rem 1rem 0rem #dde3e7;
          box-shadow: 0.5rem 1rem 1rem 0rem #dde3e7;
  font-family: "Poppins", sans-serif;
}
.booking_sample_ongoing > div {
  margin: 1rem;
}
.booking_sample_ongoing_status-bar {
  font-size: 1.4rem;
  color: #84829a;
}
.booking_sample_ongoing_trip-to {
  font-size: 1.8rem;
  color: black;
  padding: 0.5rem 0 1rem 0;
}
.booking_sample_ongoing_stage-status {
  font-size: 1.4rem;
  color: #8a79df;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10rem 0;
}
.about_title {
  width: 67rem;
}
.about_comments {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  width: 50rem;
  -webkit-box-shadow: 4rem 6rem 6rem 0rem #e9e9e9;
          box-shadow: 4rem 6rem 6rem 0rem #e9e9e9;
}
.about_comments_content {
  width: 42rem;
  font-size: 1.6rem;
  padding: 7rem 0 3rem 0;
}
.about_comments_nickname {
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1rem 0;
}
.about_comments_from {
  font-size: 1.4rem;
  padding: 0 0 2rem;
}

.partners {
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 45rem;
}
.partners_more {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  padding: 2rem;
}
.partners_main {
  -webkit-box-shadow: 0rem 11em 10rem 0rem rgb(221, 221, 221);
          box-shadow: 0rem 11em 10rem 0rem rgb(221, 221, 221);
  padding: 2rem;
}

.subscribe {
  background-image: url(img/subbscribe\ back\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.subscribe_decor {
  position: absolute;
  bottom: -8%;
  right: -5%;
}
.subscribe_content {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  font-size: 3.3rem;
  width: 72rem;
  line-height: 54px;
  text-align: center;
}
.subscribe_login input::-webkit-input-placeholder {
  background: url(img/email.png) no-repeat;
  padding: 0 3rem;
}
.subscribe_login input::-moz-placeholder {
  background: url(img/email.png) no-repeat;
  padding: 0 3rem;
}
.subscribe_login input:-ms-input-placeholder {
  background: url(img/email.png) no-repeat;
  padding: 0 3rem;
}
.subscribe_login input::-ms-input-placeholder {
  background: url(img/email.png) no-repeat;
  padding: 0 3rem;
}
.subscribe_login input::placeholder {
  background: url(img/email.png) no-repeat;
  padding: 0 3rem;
}
.subscribe_login_email {
  width: 42.1rem;
  height: 6.8rem;
  background: #ffffff;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #39425d;
  border: none;
  margin: 5rem;
}
.subscribe_login_button {
  width: 18rem;
  height: 6.8rem;
  font-size: 1.7rem;
  font-family: "Open Sans", sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  border: none;
  margin: 5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10rem 0 0 0;
}
.footer_company-desc {
  font-size: 1.3rem;
  color: #5e6282;
  font-family: "Poppins", sans-serif;
  width: 21rem;
  padding: 1rem 0;
}
.footer_company-desc_logo {
  font-size: 4.4rem;
  color: #181e4b;
  padding: 0 0 2rem 0;
}
.footer_main-links {
  font-family: "Poppins", sans-serif;
}
.footer_main-links th {
  font-size: 2.1rem;
  color: black;
  text-align: left;
  padding: 2rem;
}
.footer_main-links td {
  font-size: 1.8rem;
  color: #5e6282;
  text-align: left;
  padding: 0.5rem 2rem;
}
.footer_socials {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  text-align: center;
}
.footer_socials_links img {
  padding: 1rem;
}
.footer_socials_apps img {
  padding: 1rem;
}

.rights {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  text-align: center;
  padding: 5rem;
}

@media (max-wight: 700px) {
  html {
    padding: 2rem 2rem;
  }
}/*# sourceMappingURL=style.css.map */